name: Release Workflow

on:
  push:
    branches: [main]

env:
  PACKAGE_SCOPE: '@solana'
  CARGO_TERM_COLOR: always
  TURBO_TELEMETRY_DISABLED: 1

permissions:
  packages: write
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yml

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Set up .npmrc for GitHub Packages
        run: |
          echo "//npm.pkg.github.com/:_authToken=${AUTH_TOKEN}" >> ~/.npmrc
          echo "${PACKAGE_SCOPE}:registry=https://npm.pkg.github.com" >> ~/.npmrc
        env:
          AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGE_SCOPE: ${{ env.PACKAGE_SCOPE }}

      - name: Prepare for publishing
        run: |
          pnpm prepublish

      - name: Publish packages to GitHub Packages
        run: pnpm changeset publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
